.tablerow {
  margin: 20px;
  text-align: center;
}

.tabledata {
  background: #ffe5e5;
  padding: 20px;
  margin: 0;
  min-width: 15%;
  position: relative;
  text-align: center;
  font-weight: 200;
}

.tablehead {
  background: #f8dfdf;
}
